In [3]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

#%run import.ipynb

In [4]:
def import_genome_data_as_df(filename = "REAL.hapt", labels = "REAL.tsv"):
    df = pd.read_csv('./data/' + filename, delimiter = ' ')
    if labels:
        labels_df = pd.read_csv('./data/' + labels, header = 0, sep = '\t')

        superpopulation_code_dict = {
            'EUR': 0,
            'EAS': 1,
            'AMR': 2,
            'SAS': 3,
            'AFR': 4,
            'EUR,AFR': 5,
        }

        df.iloc[:, 1] = df.iloc[:, 1].astype(str).str[:-2]
        df = df.merge(labels_df[['Sample name','Superpopulation code']], left_on=df.iloc[:, 1], right_on='Sample name', how='inner')
        df['Superpopulation code'].replace(superpopulation_code_dict, inplace=True)
        df = df.drop(columns='Sample name')
    
    return df

In [5]:
sample = import_genome_data_as_df().reset_index(drop=True)
sample.head()

,Type,Sample,0,1,2,3,4,5,6,7,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,Superpopulation code
0,Real,HG00096,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Real,HG00096,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Real,HG00097,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Real,HG00097,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Real,HG00099,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
X = sample.iloc[:, 3:10002]
X.head()

,1,2,3,4,5,6,7,8,9,10,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0